*{
  margin: 50px;;
  padding:10px;
  
}
body{background-image:url(image.jpg);
  border: 2px solid darkblue ;
  text-shadow: 5px 5px 5px cyan ;
  text-align: center;
  font-size: 25px;}



.display{
  display:flex;
  
  margin-left:550px ;
}
button{
  margin: 0;
  padding:5px 15px ;
  text-transform: uppercase;
  color: black;
  font-size:30px ;
  
  border: none;
  outline: none;


 

}
button:hover{
  color: black;
  background:cornflowerblue;
  text-shadow: 5px 5px 5px cyan;

  
}






  
